header{
  background: url("../../images/3layers.png")center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 250px;
  nav{
    .log{
      display: inline-block;
       margin-left: 30px;
      padding-bottom: 10px;
    }
    ul{
      float: right;
      list-style: none;
      margin-top: 0;
      li{
        display: inline-block;
        margin: 0 15px;
        a{
          display: inline-block;
          text-transform: uppercase;
          text-decoration: none;
          color: #f9fafe;
          border: 1px solid #f9fafe;
          border-radius: 5px;
          padding: 11px 40px;
          &:hover{
            background-color: $pink;
            color: #ffffff;

          }
        }

      }
    }
  }
.header_text{
  margin-top: 200px;
  h1, h2 {
    text-transform: uppercase;
    text-align: center;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

}
  @media (max-width: 768px) {
    header {
      padding-bottom: 150px;
      nav {
        ul{
          li {
            margin: 5px;
            a {
              font-size: 12px;
            }
          }
        }
      }

    }
  }
  form{
    text-align: center;
    margin-top: 50px;

    }
  }


