h1, h2, nav li, .pictures_text {
  font-family: 'Raleway', sans-serif;
}

p, .number_blockli li,footer{
font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 72px;
  font-weight: 700;
}
h2, .have_block p{
  font-size: 30px;
  font-weight: 400;
}

.numbers{
  font-size: 30px;
  font-weight: 700;
}
.numbers_text{
  font-size: 18px;
  font-weight: 400;
}